<nav class="navbar navbar-expand-lg bg-secondary-subtle border-bottom h-auto">
  <div class="container-fluid">
    <img src="../../../../assets/img/logo.png" alt="..." id="alura_logo">
    <a class="navbar-brand" routerLink="/home">Hotel Alura</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about-us">About us</a>
      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-success me-3" routerLink="/sign-up">Sign up</a>
        <a class="btn btn-outline-primary me-3" routerLink="/sign-in">Sign in</a>
      </div>
    </div>
    </div>
</nav>
