.jumbotron {
    text-align: left;
    background-color: #007bff;
    color: #fff;
    padding: 4rem; /* Aumenta el relleno para aumentar el tamaño del contenedor */
}

.jumbotron h1 {
    font-size: 4rem; /* Aumenta el tamaño del título */
}

.jumbotron p {
    font-size: 1.8rem; /* Aumenta el tamaño del texto principal */
}