
<div class="container-fluid d-flex justify-content-center" style="padding: 60px 40px;">
      <iframe width="1000" height="600" src="https://www.youtube.com/embed/djxo7Ky9Mzk" title="SOL CARIBE SAN ANDRÉS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div>
    <!-- Contenedor tipo banner (jumbotron) -->
<div class="jumbotron text-center">
    <h1 class="display-4">Our Mission</h1>
    <p class="lead">To be your companion to experience our world</p>
</div>

<!-- Scripts de Bootstrap (jQuery y Popper.js son requeridos por Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U6e3a/ooYbIq2zD9tcjHr5LqzM3JZnYQQmkfMAeGOl85CizNPw7c02BrPuZ2t" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>


<div class="d-flex justify-content-center text-align-center" style="padding: 100px;">
    <div style="padding-right: 50px;">
          <div class="et_pb_text_inner">
                <h2>About alura</h2>
          </div>
          <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
                <div class="et_pb_text_inner">
                      <p class="fs-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                </div>
          </div>
    </div>
    <div>
          <img style="height: 400px; width: 400px;"  src="../../../../assets/img/about/cell_new_york.jpg" alt="...">
    </div>
</div>