<ng-container *ngIf="( roomPaginationState$ | async ) as state" [ngSwitch]="state.componentState">
  <div id="pagination_container" class="p-8">
    <ng-container *ngSwitchCase="'COMPONENT_ERROR'">Couldn't load the rooms !!</ng-container>
    <ng-container *ngSwitchCase="'COMPONENT_LOADING'">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-container>
  </div>
</ng-container>


<!-- {{ roomPaginationState$ | async | json }} -->
