<footer class="container-fluid bg-dark" data-bs-theme="dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 col-md-4-container">
        <h5 class="b"> Quick Links</h5>
        <a class="d-block" routerLink="/home"><i class="bi bi-arrow-return-right"></i> Home</a>
        <a class="d-block"><i class="bi bi-arrow-return-right" routerLink="/about-us"></i> About us</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> FAQ</a>
        <a class="d-block"><i class="bi bi-arrow-return-right" routerLink="/sign-up"></i> Get Started</a>
      </div>
      <div class="col-md-4 col-md-4-container">
        <h5 class="b"> Quick Links</h5>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> Home</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> About us</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> FAQ</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> Get Started</a>
      </div>
      <div class="col-md-4 col-md-4-container">
        <h5 class="b"> Quick Links</h5>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> Home</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> About us</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> FAQ</a>
        <a class="d-block"><i class="bi bi-arrow-return-right"></i> Get Started</a>
      </div>
    </div>
  </div>
</footer>
