<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="row justify-content-center">
          <div class="col-md-6 border rounded p-4 shadow-lg">
                <form [formGroup]="signUpForm">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="email" class="form-control" id="username" formControlName="username" aria-describedby="emailHelp">
                        <div *ngIf="signUpForm.get('username').invalid && (signUpForm.get('username').dirty || signUpForm.get('username').touched)" class="text-danger">Username invalid</div>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="mb-3">
                        <label for="pwdConfirmation" class="form-label" >Confirm password</label>
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="pwdConfirmation" formControlName="pwdConfirmation">
                        <div *ngIf="passwordsMismatch()" class="text-danger">Passwords do not match</div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="togglePasswordVisibility()">
                        <label class="form-check-label" for="exampleCheck1" >Show password</label>
                    </div>
                    <button type="button" class="btn btn-success" (click)="register()">Register</button>
                </form>
          </div>
    </div>
</div>