<div class="container-fluid d-flex justify-content-center" style="padding: 10px 100px 50px 100px;">
	<div class="d-flex flex-row justify-content-center rounded shadow" style="padding: 50px 50px; border: 1px lightgray dashed; width: fit-content;">
		<div>
			<img src="../../../../assets/img/news-letter/globe.png" id="globe-icon">
		</div>
		<div class="d-flex flex-column" style="padding: 20px">
			<h5>Receive our newsletter.</h5>
			<span>Register to receive our customized recomentdations and exclusive ofers</span>
			<div class="container-fluid d-flex flex-row justify-flex-start  pt-3">
				<input type="email" class="rounded" placeholder="Insert your email here ..." style="width: 220px; margin-right: 20px; border: 1px lightgray solid; padding-left: 10px;">
				<button type="button" class="btn btn-outline-info">Subscribe</button>
			</div>
		</div>
	</div>
</div>